{% extends 'include/base.html'%}
{% load static %}
{% load thumbnail %}
{% block content %} 
    <div class="container">
        <div class="list_title">Какой-то текст</div>
        <div class="animal_cards"></div>
            {% for item in cat%}
                <div class="animal_card">
                    <div class="preview">
                        <div class="preview_img">
                            <img src="{{ item.photo }}" width="370" height="300">
                            <div class="preview_content">
                                <div class="preview_text">{{ item.text_post|truncatechars:20 }}</div>
                                <div class="preview_date">{{ item.date }}</div>
                                
                        </div>
                    </div>
                </div>
            </div>    
    </div>    
    
{% endfor %}
{% endblock%}
