{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer_inner"> 
            <div class="footer_text">
                <div class="copyright">
                    <h4 class="footer_copy">&copy; 2022</h4>
                </div>
                <div class="footer_social">
                    <a class="footer_social_a" href="https://vk.com/elista_kalmykia" target="_blank">
                        <img src="{% static 'images/vk_footer.png'%}"
                        alt="">
                    </a>
                </div>
            </div>
            <nav class="footer_nav">
                <a class="footer_nav-link">О нас</a>
                <a class="footer_nav-link  footer_nav_link_btn">Контакты</a>
            </nav>
        </div>
    </div>
</footer>